<% frame = el %>

<tr>
  <td colspan=3>
    <a href="<%= @permalink %>"><img src="<%= frame.video.thumbnail_url %>"/></a>
  </td>
</tr>
<tr>
  <td colspan=3>
    <p style="font-weight: bold; font-size: 16px; color:#333; margin-bottom:0px;">
      <a href="<%= @permalink %>"><%= truncate(frame.video.title, :length => 75, :separator => ' ') %></a>
    </p>
    <p style="margin-top:0px;">
      <span style="font-weight:bold; font-size:13px;">
        <%= frame.anonymous_creator_nickname or (frame.creator ? frame.creator.nickname : nil) %>
      </span>
      <span style="color:#999; font-weight:bold; font-size:10px;">
        <%= frame.created_at.strftime("%A, %b %d, %l:%M %p") %>
      </span>
    </p>
  </td>
</tr>
