<% message = el %>
<% msg_from_recipient = (message.user_id.to_s == @recipient_string_id || message.nickname == @recipient_string_id) %>

<% if msg_from_recipient %>
  <!-- RIGHT message -->
  <tr style="text-align:right">
    <td></td>
    <td>
      <p style="font-weight:bold; font-size:12px; color:#556; margin-bottom:0px;"><%= message.nickname %></p>
      <p style="font-size:14px; margin-top:5px;"><%= message.text %></p>
    </td>
    <td valign="top">
      <img src="<%= message.user ? avatar_url_for_message(message) : "#{Settings::ShelbyAPI.web_root}/images/assets/avatar.png" %>" style="width:48px;" />
    </td>
    <td>
  </tr>
<% else %>
  <!-- LEFT message -->
  <tr style="text-align:left;">
    <td valign="top">
      <img src="<%= message.user ? avatar_url_for_message(message) : "#{Settings::ShelbyAPI.web_root}/images/assets/avatar.png" %>" style="width:48px;" />
    </td>
    <td>
      <p style="font-weight:bold; font-size:12px; color:#556; margin-bottom:0px;"><%= message.nickname %></p>
      <p style="font-size:14px; margin-top:5px;"><%= message.text %></p>
    </td>
    <td></td>
  </tr>
<% end %>
