<% message = el %>
<% msg_from_recipient = (message.user_id.to_s == @recipient_string_id || message.nickname == @recipient_string_id) %>

<% if msg_from_recipient %>
  <tr>
    <td colspan="3">
      <table border="0" cellpadding="4" cellspacing="0" style="border:1px solid #ccc; border-radius: 5px; background-color: #FFFFFF; width:100%;">
        <tr>
          <!-- media image -->
          <td valign="middle" style="text-align: left; width: 48px;">
            <img src="<%= message.user ? avatar_url_for_message(message) : "#{Settings::ShelbyAPI.web_root}/images/assets/avatar.png" %>" style="width:48px; height:48px;" />
          </td>

          <!-- media body -->
          <td valign="top" style="font-size:12px; color:#556; line-height: 1;text-align: left;">
            <table border="0" cellspacing="0" cellpadding="4" style="width:100%;">
              <tr>
                <td valign="middle" style="font-weight:bold; font-size:12px; color:#556; line-height: 1;text-align: left;">
                  <%= message.nickname %>
                </td>

                <td valign="middle" style="font-weight:normal; font-size:12px; color:#999; line-height: 1;text-align: right;">
                  <%= message.created_at.strftime("%A, %b %d, %l:%M %p") %>
                </td>
              </tr>

              <tr>
                <!-- comment -->
                <table border="0" cellspacing="0" cellpadding="4" style="width:100%;">
                  <tr>
                    <td valign="middle" style="font-weight:normal; font-size:12px; color:#556; line-height: 1;text-align: left;">
                      <%= message.text %>
                    </td>
                  </tr>
                </table>
                <!-- /comment -->
              </tr>
            </table>
          </td>
          <!-- /media body -->
        </tr>
      </table>
    </td>
  </tr><% else %>
  <tr>
    <td colspan="3">
      <table border="0" cellspacing="0" cellpadding="4" style="border:1px solid #ccc; border-radius: 5px; background-color: #F2F0F0; width:100%;">
        <tr>
          <!-- media image -->
          <td valign="middle" style="text-align: left; width: 48px;">
            <img src="<%= message.user ? avatar_url_for_message(message) : "#{Settings::ShelbyAPI.web_root}/images/assets/avatar.png" %>" style="width:100%;height: 48px;" />
          </td>

          <!-- media body -->
          <td valign="top" style="font-size:12px; color:#556; line-height: 1;text-align: left;">
            <table border="0" cellspacing="0" cellpadding="4" style="width:100%;">
              <tr>
                <td valign="middle" style="font-weight:bold; font-size:12px; color:#556; line-height: 1;text-align: left;">
                  <%= message.nickname %>
                </td>

                <td valign="middle" style="font-weight:normal; font-size:12px; color:#999; line-height: 1;text-align: right;">
                  <%= message.created_at.strftime("%A, %b %d, %l:%M %p") %>
                </td>
              </tr>

              <tr>
                <!-- comment -->
                <table border="0" cellspacing="0" cellpadding="4" style="width:100%;">
                  <tr>
                    <td valign="middle" style="font-weight:normal; font-size:12px; color:#556; line-height: 1;text-align: left;">
                      <%= message.text %>
                    </td>
                  </tr>
                </table>
                <!-- /comment -->
              </tr>
            </table>
          </td>
          <!-- /media body -->
        </tr>
      </table>
    </td>
  </tr>
<% end %>

