<% standard_html_email_wrapper do %>

  <table align="center" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" class="shelby-email" style="background:#E2E2E2; color:#444; font-family: Arial,sans-serif; font-weight:300;width: 55%;">

    <tr class="main-body-row">
      <td valign="middle" class="shelby-email-lining" style="padding:0px;">
        <!--  show message in email preview-->
        <div style="font-size:0px;display:none;">
          <%= @poster_string_name %> is using Shelby Mail to have private conversations about great video.
        </div>
        <!-- end email preview message -->

        <h1 class="shelby-logo" style="margin:0px;padding:0 20px;background-color:#313435;">
          <a href="<%= Settings::Email.web_url_base %>">
            <img class="image_fix" src="<%= Settings::Email.shelby_logo %>" alt="Shelby Mail" title="Shelby Mail" style="padding:8px 0px 5px;display:block;margin: 0px auto;display:block;"/>
          </a>
        </h1>

        <table class="shelby-email-message" cellpadding="0" cellspacing="0" border="0" style="background:#E2E2E2; padding:20px 20px 15px; width:500px;margin: 0px auto;">
          <tr class="conversation_header">
            <td>
              <h1 style="font-size: 22px; font-weight:100;margin-top: 0; margin-bottom: 20px;">
                <%= @subject %>
              </h1>

              <!-- button -->
              <table cellpadding="10" cellspacing="0" style="border-radius: 5px;border-color: #4AA041;border-width: 1px;border-style: solid;background-color: #4AA041;width: 75%;margin: 0 auto;">
                <tr>
                  <td align="center" valign="center" style="border-radius: 5px;border-width: 1px; border-style: solid; border-color: #74C36B #4AA041 #4AA041 #4AA041; height: 38px;">
                    <a href="<%= @permalink %>" style="display: block;font-size: 16px;font-weight: bold;font-family: sans-serif;text-decoration: none;">
                      <font color="#fff">
                        View Full Conversation
                      </font>
                    </a>
                  </td>
                </tr>
              </table>
              <!-- /button -->

            </td>
          </tr>

          <tr><td>&nbsp;</td></tr>

          <tr class="conversation-elements">
            <td>
              <table class="conversation-elements-table" cellpadding="0" border="0" style="background-color:#e2e2e2; width: 100%">
                <tr><td></td><td style="padding: 20px;"></td><td></td></tr>
                <% @conversation_elements.each do |convo_piece| %>
                  <%= render :partial => "#{convo_piece[:el_type].to_s}", :locals => convo_piece %>
                  <tr><td></td><td style="padding: 5px;"></td><td></td></tr>
                <% end %>
              </table> <!-- /conversation-elements-table -->
            </td>
          </tr>

          <tr><td>&nbsp;</td></tr>

          <tr class="conversation-reply">
            <td align="center">
              <!-- button -->
              <table cellpadding="10" cellspacing="0" style="border-radius: 5px;border-color: #4AA041;border-width: 1px;border-style: solid;background-color: #4AA041;width: 75%;margin: 0 auto;">
                <tr>
                  <td align="center" valign="center" style="border-radius: 5px;border-width: 1px; border-style: solid; border-color: #74C36B #4AA041 #4AA041 #4AA041; height: 38px;">
                    <a href="<%= @permalink %>" style="display: block;font-size: 16px;font-weight: bold;font-family: sans-serif;text-decoration: none;">
                      <font color="#fff">
                        View Full Conversation
                      </font>
                    </a>
                  </td>
                </tr>
              </table>
              <!-- /button -->
            </td>
          </tr>

          <tr class="conversation-footer">
            <td style="color: #777; padding-top:20px; font-size:12px;">
              <p>
                There are so many terrific videos online.
                Shelby Mail is a great, private way to share and talk about them with friends.
              </p>
              <p>
                All of your conversations, all of those videos, always <a href="<%= Settings::Email.web_url_base %>/mail">right here</a>.
              </p>
            </td>
          </tr>
        </table><!-- /shelby-email-message -->

      </td>
    </tr><!-- /main-body-row -->

    <tr>
      <td colspan="2">
        <!-- footer -->
        <hr style="background:none;border:none;border-top:1px solid #CACACA;border-bottom: 1px solid #EFEFEF;"/>
        <table cellpadding="4" cellspacing="0" border="0" style="color: #666; text-decoration: none; font-size: 11px;">
          <tr>
            <td style="text-align:left; font-weight: bold;">
              Shelby.tv, a simple new way to enjoy video.
            </td>
            <td style="text-align: right;">
              <%= Settings::Email.shelby_address %>
            </td>
          </tr>
        </table>
        <!-- /footer -->
      </td>
    </tr>
  </table>

<% end %>
