<table data-frame_footer style="border: <%= Settings::Email.ui_outline %>; padding: 5px; width: 100%; " border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td data-avatar style="width: 13%" valign="top">
      <a href="<%= Settings::Email.web_url_base %>/stream?entry=<%= id %>" style="text-decoration: none;">
        <img src="<%= avatar %>" style="border-radius: 5px; width: 100%; display: block;" />
      </a>
    </td>

    <td data-body valign="top">
        <table data-frame_comment style="width: 100%"  border="0" cellpadding="5" cellspacing="0">
          <tr>
            <td data-name>
              <a href="<%= video.permalink %>?dbe_id=<%= dbe.id.to_s %>&source=email" style="color: <%= Settings::Email.ui_soft_black %>;text-decoration: none;">
                <% if !is_recommendation %>
                  <span style="color: <%= Settings::Email.ui_soft_black %>;font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size %>"<%= " title=\"#{creator.name}\"" if creator.name %>><strong><%= creator.nickname %></strong></span>
                <% else %>
                  <% if action == DashboardEntry::ENTRY_TYPE[:channel_recommendation] %>
                    <strong style="color: <%= Settings::Email.ui_green %>;font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size %>">Featured: <%= creator.nickname %></strong>
                  <% else %>
                    <strong style="color: <%= Settings::Email.ui_green %>;font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size %>">Recommended for you</strong>
                  <% end %>
                <% end %>
              </a>
            </td>

            <td data-timestamp align="right">
              <span style="color: #888;font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size %>"><%= frame.created_at.strftime("%e %b %y") %></span>
            </td>
          </tr>

          <tr colspan="2">
            <td data-frame_comment_body style="color: #555;font-family: <%= Settings::Email.font_family %>;font-size: <%= Settings::Email.font_size %>; line-height: 1.4; " colspan="2">
              <%= truncate( message , length: 140, omission: '…') %>
            </td>
          </tr>
        </table>

    </td>
  </tr>
</table>
