<table data-frame border="0" cellpadding="0" cellspacing="0" style="-webkit-font-smoothing: antialiased; width: 400px;">
  <tr>
    <td>

        <table data-video style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td data-video_title>
              <% extra_parms = @ab_bucket ? "&kmi=#{user_to.nickname}&km_bucket=#{@ab_bucket}" : '' %>
              <a href="<%= Settings::Email.web_url_base %>/stream?entry=<%= dbe.id %><%= extra_parms %>" style="color: <%= Settings::Email.ui_soft_black %>; text-decoration: none;">
                <strong style="display: block; font-family: <%= Settings::Email.font_family %>;font-size: <%= Settings::Email.font_size_large %>; line-height:1.3; margin-bottom: 5px;" title="<%= video.title %>">
                  <%= video.title %>
                </strong>
              </a>
            </td>
          </tr>

          <tr>
            <td>
              <a href="<%= Settings::Email.web_url_base %>/stream?entry=<%= dbe.id %>" style="border: 3px solid <%= Settings::Email.ui_green %>;display:block;">
                <img style="width: 100%; display: block;" src="<%= video.thumbnail_url %>" title="<%- video.title %>" alt="<%- video.title %> thumbnail" />
              </a>
            </td>
          </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => '/notification_mailer/partials/frame_footer',
                 :locals => {
                    :is_recommendation => dbe.is_recommendation?,
                    :action            => dbe.action,
                    :avatar            => frame_footer_avatar(dbe),
                    :creator           => dbe.frame.creator,
                    :frame             => dbe.frame,
                    :ga_category       => ga_category,
                    :id                => dbe.id,
                    :message           => frame_footer_message(dbe),
                    :signed_in_user    => signed_in_user,
                 } %>
    </td>
  </tr>
</table>
