<a href="<%= url %>" style="text-decoration:none;color: <%= Settings::Email.ui_soft_black %>">
  <div style="color: <%= Settings::Email.ui_off_white %>; font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size_large %>; font-weight: <%= Settings::Email.font_weight %>; line-height: 1.231;border-radius:5px;border:<%= Settings::Email.ui_outline %>;padding: 7px 10px; background-color: <%= Settings::Email.ui_green %>; margin: 0px; text-align: center; width: <%= width %>">
    <%= text %>
  </div>
</a>
