<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size: 0.8em;margin-top:10px;border-bottom: 1px solid #D7D7D7;padding-bottom: 0.8em;">
  <tr>
    <td width="50">
      <a href="<%= Settings::Email.web_url_base %>/<%= username %>" class="user__link" style="color: inherit;text-decoration: none;">
        <img class="image_fix" src="<%= avatar_url_for_user(@user_from,"small") %>" alt="<%= @user_from_name %>" title="<%= @user_from_name %>" width="45" height="45" style="border: 0;height: 45px;line-height: 1;outline: none;text-decoration: none;display: inline-block;border-radius:5px;border:1px solid <%= Settings::Email.ui_soft_black %>"/>
      </a>
    </td>
    <td width="150" style="padding-left: 10px;">
      <a href="<%= Settings::Email.web_url_base %>/<%= username %>" class="user__link" style="color: inherit;text-decoration: none;">
        <div class="media_body" style="white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;text-align: left;">
          <h3 class="user__h1" style="font-size: <%= Settings::Email.font_size_large %>;line-height: 1.4;white-space: nowrap;overflow: hidden;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;margin: 0;">
            <%= username %>
          </h3>

          <h4 class="user__h2" style="font-size: <%= Settings::Email.font_size %>;font-family: 'Helvetica Neue',Helvetica,sans-serif;font-weight: normal;line-height: 1.4;margin: 5px 0;">
            <%= realname %>
          </h4>
        </div>
      </a>
    </td>
    <td width="150">
      <div class="media_image--rev" style="float: right;margin-left: 0px;margin-right: 0;">
        <a href="<%= Settings::Email.web_url_base %>/<%= username %>" class="button_primer button_command button_command--flexible button_green user__button" style="display: block;margin-right: 0;background-color: <%= Settings::Email.ui_green %>;background-image: none;padding: 0.5em 0.6em;border: <%= Settings::Email.ui_outline %>;color: #FFF;border-radius: 2px;text-align: center;text-decoration:none;font-size: <%= Settings::Email.font_size %>">
          <span class="button_label">Watch </span><span style="font-size:0.8em;margin-left:5px">▶</span>
        </a>
      </div>
    </td>
  </tr>
</table>
