<div id="admin-header">
	<h1 id="shelby-logo" style="padding: 15px; width:500px;">
		<img src="<%= Settings::Email.shelby_logo_gt %>" id="headerImage" alt="Shelby.tv logo" title="Shelby.tv" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;margin: 0;width: 120px;vertical-align: middle;">
		user info :: new users in last 24 hr
	</h1>	
	<div id="user-info" style="position:fixed; top: 20px; right: 20px;">
		<form id="js-email-form" class="user-search-form" action="/admin/user/" method="get">
			<input name="search" type="text" id="js-user-input" class="user-form-input" placeholder="find someone" /><!--

		  --><input type="submit" value="find user" id="js-user-search-submit" class="user-form-submit" />
		</form>

	</div>
</div>
	
<hr/>

<% @all_new_users.each do |u| %>
	<% links = {} %>
	<% u.authentications.each { |a| links[:tw] = "http://twitter.com/#{a.nickname}" if a.provider == "twitter"; links[:fb] = "http://www.facebook.com/#{a.nickname}" if a.provider == "facebook"; links[:tu] = "http://#{a.nickname}.tumblr.com/" if a.provider == "tumblr"; } %>
	
	<div class="user" style="font-size: 17px; font-weight: 300; margin: 10px 20px; padding-bottom: 4px;border-bottom: 1px solid #222;">
		<%= image_tag avatar_url_for_user(u), :size=>"43x43", :style=>"vertical-align: middle;float: left;margin-right: 15px;" %>
		<div class="who">
			<%= link_to u.name, "http://api.shelby.tv/admin/user/#{u.id}" %> (<%= u.nickname %>)
		</div>
		<div class="more-info" style="margin-left: 25px;">
			<%= link_to "#{u.public_roll.subdomain}.shelby.tv", "http://#{u.public_roll.subdomain}.shelby.tv" %>
			<span class="social-links" style="padding: 0 4px;">
				<% if links[:tw] %>
					<a href="<%= links[:tw] %>" style="color: #777;font-weight: normal;text-decoration: none;"><img src="https://twitter.com/images/resources/twitter-bird-white-on-blue.png" height="16" alt="" title="" style="height: 12px;outline: none;text-decoration: none;display: inline;"/></a>
				<% end %>
				<% if links[:fb] %>
					<a href="<%= links[:fb] %>" style="color: #777;font-weight: normal;text-decoration: none;"><img src="http://forums.appsorama.com/fbb/facebook_logo_16x16.gif" alt="" title="" height="16" style="height: 12px;text-decoration: none;display: inline;"/></a>
				<% end %>
				<% if links[:tu] %>
					<a href="<%= links[:tu] %>" style="color: #777;font-weight: normal;text-decoration:none;"><img src="http://i20.photobucket.com/albums/b218/Sylphcat/TumblrLogoSmall.png" height="16" alt="" title="" style="height: 12px;outline: none;text-decoration: none;display: inline;"></a>
				<% end %>
			</span> ::
			<span class="roll-info">
				videos in roll: <%= u.public_roll.frames.count %> :: 
				videos queued: <%= u.watch_later_roll.frames.count %>
			</span>
		</div>
		<div class="email-address" style="margin-left: 25px;">
			email: <%= link_to(u.primary_email || "", "mailto:#{u.primary_email}") %>
		</div>
	</div>
<% end %>