<div id="admin">
	<h1 id="shelby-logo">
		<img src="<%= Settings::Email.shelby_logo_gt %>" id="headerImage" alt="Shelby.tv logo" title="Shelby.tv" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;margin: 0;width: 150px;vertical-align: bottom;">
		user info
	</h1>
	
	<hr/>	
	<% if @user %>
	<div id="user-info-area">
		<div id="shelby-user">
			<span class="shelby-avatar">
				<a href="<%= @user.permalink %>" style="color: #777;font-weight: normal;text-decoration: underline;">
					<img src="<%= @user.user_image %>" alt="<%= @user.nickname %>" title="<%= @user.nickname %>" />
				</a>
			</span>
			<span id="shelby-name">
				<%= @user.name %>
			</span>			
		</div>
		<div id="special-rolls" class="text-block">
			<a href="<%= @user.permalink %>">personal roll</a> :: <a href="<%= @watch_later_roll %>">watch later roll</a> :: <a href="<%= @upvoted_roll %>" >heart roll</a>	
		</div>
		<div id="born-on-date" class="text-block">
			(shelby) born on date: <%= distance_of_time_in_words_to_now @user.created_at %> ago
		</div>
		<div id="cohorts" class="text-block">
			cohorts cohorts: <%= @user.cohorts.join(", ") if @user.cohorts %>
		</div>
		<div id="user-type" class="text-block">
			<% if @user.faux = 0 %>
				Real User
			<% elsif @user.faux = 1%>
				Faux User
			<% else %>
			 	User Converted from Faux
			<% end %> 
		</div>
		<div id="social-medias" class="text-block">
			<% if @social_links[:tw] %>
				<a href="<%= @social_links[:tw] %>">
					<img src="https://twitter.com/images/resources/twitter-bird-white-on-blue.png" height="18" alt="" title="" />
				</a>
			<% end %>
			<% if @social_links[:fb] %>
				<a href="<%= @social_links[:fb] %>">
					<img src="http://forums.appsorama.com/fbb/facebook_logo_16x16.gif" alt="" title="" height="18" />
				</a>
			<% end %>
			<% if @social_links[:tu] %>
				<a href="<%= @social_links[:tu] %>">
					<img src="http://i20.photobucket.com/albums/b218/Sylphcat/TumblrLogoSmall.png" height="18" alt="" title="" style="">
				</a>
			<% end %>
		</div>
	</div>	
	
	<div id="roll-info-area">
		<div id="friends-rolls" class="roll-list">
			<span>Friends Rolls</span>
			<% for roll in @friends_rolls %>
				<div class="roll-info">
					<a href="<%= roll.permalink %>">
						<%= roll.title %> (<%= roll.frames.count %>)
					</a>
				</div>
		  <% end %>
		</div>
		<div id="user-created-public-rolls" class="roll-list">
			<span>Public Rolls</span>
			<% for roll in @user_created_public_rolls %>
				<div class="roll-info">
					<a href="<%= roll.permalink %>">
						<%= roll.title %> (<%= roll.frames.count %>)
					</a>
				</div>
		  <% end %>			
		</div>
		<div id="user-created-private-rolls" class="roll-list">
			<span>Private Rolls</span>
			<% for roll in @user_created_private_rolls %>
				<div class="roll-info">
					<a href="<%= roll.permalink %>">
						<%= roll.title %> (<%= roll.frames.count %>)
					</a>
				</div>
		  <% end %>
		</div>
	</div>
	<% else %>
	  These aren't the droids you are looking for.
	<% end %>
</div>
