<% standard_html_email_wrapper do %>
	<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" class="shelby-email" style="background:#f6f6f6; border:1px solid #b5b5b5; color:#444; font-family: Ubuntu,Trebuchet MS,Helvetica,sans-serif; font-weight:300;">
		<tr>
			<td valign="top" class="shelby-email-lining" style="padding:20px;">
				<h1 class="shelby-logo" style="margin-top:5px;">
					<a href="<%= Settings::Email.web_url_base %>">
						<img class="image_fix" src="<%= Settings::Email.shelby_logo %>" alt="Shelby.tv logo" title="Shelby.tv" width="156" height="42" />
					</a>
				</h1>
				<table class="shelby-email-message" cellpadding="0" cellspacing="0" border="0" style="background:#e6e6e6; border-top:1px solid #b5b5b5; padding:20px; width:100%;">
					<tr height="75">
						<td width="75"  valign="top">
							<a href="<%= @user_from.permalink %>"><img class="image_fix" src="<%= @user_from.user_image_original %>" alt="user_image" title="user_image" width="60" height="60" /></a>
						</td>
						<td  valign="top">
							<div>
								<a href="<%= @user_from.permalink %>"><%= @user_from.name %></a> has invited you to join a private roll: <span style="font-weight:bold;">"<%= @frame.roll.title %>"
							</div>
							<p>
								What's a <a href="<%= Settings::ShelbyAPI.web_root %>/help">private roll</a>?
							</p>
						</td>
					</tr>
				</table>
				<table class="shelby-email-message" cellpadding="0" cellspacing="0" border="0" style="background:#e6e6e6; border-top:0px; padding:0px 0px 15px 20px; width:100%;">
					<tr>
						<td width="185"  valign="top">
							<a href="<%= @frame_short_link %>" style="float:left; padding-right:10px; padding-bottom: 10px;"><img class="image_fix" src="<%= @frame.video.thumbnail_url %>" alt="user_image" title="user_image" width="175" /></a>
							<div style="float:left; width: 66%">
								<div style="font-weight:bold;">Check out a video in this roll:</div>
								<p><%= @frame.video.description %></p>	
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<a href="<%= @frame_short_link %>" class="shelby-email-button" style="background:#69BD46; border:1px outset #ddd; color:white; display:inline-block; font-family: Ubuntu,Trebuchet MS,Helvetica,sans-serif; font-size:16px; font-weight:bold; margin:15px auto; padding:12px 33px; text-decoration:none; width: 165px">
								Watch Now
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding-top:10px;">
							<small class="shelby-email-message-footer" style="font-size:11px; margin-top: 10px;">
								Please remember you can always go into your <a href="<%= Settings::ShelbyAPI.web_root %>/preferences">Preferences</a> page and adjust your account and contact info, privacy controls and emails preferences.
							</small>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>  
	<!-- End of wrapper table -->
<% end %>