<% standard_html_email_wrapper do %>
	<!-- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. Use this approach instead of setting attributes on the body tag. -->
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" class="shelby-email" style="background:#f6f6f6; border:1px solid #b5b5b5; color:#444; font-family: Ubuntu,Trebuchet MS,Helvetica,sans-serif; font-weight:300;">
		<tr>
			<td valign="top" class="shelby-email-lining" style="padding:20px;"> 
				<h1 class="shelby-logo" style="margin-top:5px;">
					<a href="<%= Settings::Email.web_url_base %>">
						<img class="image_fix" src="<%= Settings::Email.shelby_logo %>" alt="Shelby.tv logo" title="Shelby.tv" width="156" height="42" />
					</a>
				</h1>
				<table class="shelby-email-message" cellpadding="0" cellspacing="0" border="0" style="background:#e6e6e6; border-top:1px solid #b5b5b5; padding:20px; width:100%;">
					<tr height="65">
						<td valign="top">
							<div>
								<a href="<%= @user_permalink %>"><%= @user_from.name %></a> commented on your activity on the video: 
							</div>
							<div style="font-weight: bold;padding: 8px 0px;">
								"<a href="<%= @frame_permalink %>"><%= @frame.video.title %></a>"
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="shelby-email-subhead" style="font-size:18px;">
								Comment: <span style="font-weight: bold;">"<%= @message.text %>"</span>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<a href="<%= @frame_permalink %>" class="shelby-email-button" style="background:#0d90c5; border:1px outset #ddd; color:white; display:inline-block; font-family: Ubuntu,Trebuchet MS,Helvetica,sans-serif; font-size:14px; font-weight:bold; margin:15px auto; padding:12px 33px; text-decoration:none; width: 165px">
								See the comment thread
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<small class="shelby-email-message-footer" style="font-size:11px; margin-top: 10px;">
								Please remember you can always go into your <a href="<%= Settings::Email.preferences_link %>">Preferences</a> page and adjust your account and contact info, privacy controls and emails preferences.
							</small>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>  
	<!-- End of wrapper table -->
<% end %>