<% standard_html_email_wrapper do %>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100%;width: 100%;">
    <tr>
      <td align="center" valign="top" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer" style="background-color: #ececec;">
          <tr>
            <td align="center" valign="top" style="border-collapse: collapse;">
              <!-- // Begin Template Header \ -->
              <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;position: relative;">
                <tr>
                  <!-- // Begin Module: Standard Header Image \ -->
                  <td align="center" valign="middle" class="shelby-header-logo" style="border-collapse: collapse;background: #2c2c2c;color: #efefef;font-family: 'Ubuntu',Trebuchet MS,sans-serif;font-size: 13px;font-weight: 300;width: 100px;">
                    <a href="<%= Settings::Email.web_url_base %>">
                      <img src="<%= Settings::Email.shelby_logo_gt %>" id="headerImage" alt="Shelby.tv logo" title="Shelby.tv" style="border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;margin: 0;width: 97px;vertical-align: bottom;">
                    </a>
                  </td>
                  <!-- // End Module: Standard Header Image \ -->
                </tr>
              </table>
              <!-- // End Template Header \ -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="border-collapse: collapse;">
              <!-- // Begin Template Body \ -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                <tr>
                  <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #ececec;">
                    <!-- // Begin Module: Standard Content \ -->
                    <table border="0" cellpadding="15" cellspacing="0" width="100%">
                      <tr>
                        <td align="center" valign="top" class="shelby-notification-body" style="border-collapse: collapse;border-bottom: 1px solid #ddd;">
                          <div style="color: #505050;font-family: 'Ubuntu',Trebuchet MS,sans-serif;font-size: 14px;line-height: 150%;">
                              <h4 class="h4" style="color: #666;display: block;font-family: 'Ubuntu',Trebuchet MS,sans-serif;font-size: 125%;font-weight: normal;line-height: 100%;margin-top: 0.5em;margin-right: 0;margin-bottom: 10px;margin-left: 0;">
                                <div class="shelby-avatar" style="background: transparent;display: inline-block;height: 50px;margin-right: .5em;overflow: hidden;width: 50px;vertical-align: middle;color: #505050;font-family: 'Ubuntu',Trebuchet MS,sans-serif;font-size: 14px;line-height: 150%;">
                                  <a href="#" style="color: #777;font-weight: normal;text-decoration: underline;">
                                    <img class="image_fix" src="<%= avatar_url_for_user(@user_from,"small") %>" alt="user_image" alt="<%= @user_from_name %>" title="<%= @user_from_name %>" width="45" height="45" style="border: 0;height: 100%;line-height: 100%;outline: none;text-decoration: none;display: block;"/>																		
                                  </a>
                                </div>
                                <a href="<%= @user_permalink %>" style="color: #777;font-weight: normal;text-decoration: underline;"><%= @user_from_name %></a> is following your <a href="<%= @roll.permalink %>" style="color: #777;font-weight: normal;text-decoration: underline;"><%= title_for_roll_on_follow(@roll) %></a>.
                              </h4>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" valign="middle" class="shelby-notification-footer" style="border-collapse: collapse;border-top: 1px solid #fff;color: #888;font-family: 'Ubuntu',Trebuchet MS,sans-serif;font-size: 11px;line-height: 100%;text-align: right;">
                          <p class="shelby-footer-block" style="line-height: 1.5;margin: 0;">
                            <a href="<%= Settings::Email.preferences_link %>" style="color: #888;">Email settings</a>
                          </p>
                          <p class="shelby-footer-block" style="line-height: 1.5;margin: 0;">
                            <%= Settings::Email.shelby_address %>
                          </p>
                        </td>
                      </tr>
                    </table>
                    <!-- // End Module: Standard Content \ -->
                  </td>
                </tr>
              </table>
              <!-- // End Template Body \ -->
            </td>
          </tr>

        </table>
        <br>
      </td>
    </tr>
  </table>
<% end %>