<% standard_html_email_wrapper do %>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: <%= Settings::Email.ui_off_white %>;height: 100%;width: 100%;font-family: <%= Settings::Email.font_family %>; color: <%= Settings::Email.ui_soft_black %>">
    <tbody>
      <tr height="0" valign="top">
        <td>
          <center>
            <!-- main -->
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <%=
                  render  :partial => "/objects/summary_text",
                          :locals => { :text => "Someone shared #{@new_frame_title}" }
                %>

                <%= render :partial => "/objects/header" %>

                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" height="300" width="100%">
                      <tr>
                        <td>&nbsp;</td>
                        <td style="width: <%= Settings::Email.main_column %>; background-color: <%= Settings::Email.ui_white %>; border: 1px solid <%= Settings::Email.ui_inset %>; font-weight: <%= Settings::Email.font_weight %>">
                          <center>
                            <table border="0" cellspacing="0" cellpadding="40">
                              <tr>
                                <td>
                                    <!-- BODY -->
                                    <center>
                                      <p>
                                        <a href="<%= @user_permalink %>" style="color: <%= Settings::Email.ui_soft_black %>">
                                          <img class="image_fix" src="<%= avatar_url_for_user(@user_from,"small") %>" alt="<%= @user_from_name %>" title="<%= @user_from_name %>" width="45" height="45" style="border: 0;height: 45px;line-height: 1;outline: none;text-decoration: none;display: inline-block;border-radius:5px;border:1px solid <%= Settings::Email.ui_soft_black %>"/>
                                        </a>
                                      </p>

                                      <p>
                                        <a href="<%= @user_permalink %>" style="color: <%= Settings::Email.ui_soft_black %>"><%= @user_from_name %></a> re-shared your video: "<%= @new_frame_title %>"
                                      </p>

                                    </center>

                                    <!-- END BODY -->
                                </td>
                              </tr>
                            </table>
                          </center>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <%= render :partial => "/objects/footer" %>
              </tbody>
            </table>
            <!-- eo main -->
          </center>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>