<% standard_html_email_wrapper do %>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: <%= Settings::Email.ui_off_white %>;height: 100%;width: 100%;font-family: <%= Settings::Email.font_family %>; color: <%= Settings::Email.ui_soft_black %>">
    <tbody>
      <tr height="0" valign="top">
        <td>
          <center>
            <!-- main -->
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <%= render :partial => "/objects/summary_text", :locals => { :text => "Download attached CSV" } %>

                <%= render :partial => "/objects/header" %>

                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" height="300" width="100%">
                      <tr>
                        <td>&nbsp;</td>
                        <td style="width: <%= Settings::Email.main_column %>; background-color: <%= Settings::Email.ui_white %>; border: 1px solid <%= Settings::Email.ui_inset %>; font-weight: <%= Settings::Email.font_weight %>">
                          <center>
                            <table border="0" cellspacing="0" cellpadding="10">
                              <tr>
                                <td>
                                  <!-- BODY -->
                                    <center>
                                      <p style="width:420px;color: <%= Settings::Email.ui_soft_black %>; font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size_large %>; font-weight: <%= Settings::Email.font_weight %>; line-height: 1.231;">
                                        All the videos you've liked and shared on Shelby.tv are ready to download!
                                      </p>
                                    </center>
                                  <!-- END BODY -->
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <center>
                                    <div style="width:278px">
                                      <div style="height:27px; color: <%= Settings::Email.ui_soft_black %>;text-align: center;padding-top: 9px;">
                                            (CSV Attached)
                                      </div>
                                    </div>
                                  </center>
                                </td>
                              </tr>
                            </table>
                          </center>

                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <%= render :partial => "/objects/footer" %>
              </tbody>
            </table>
            <!-- eo main -->
          </center>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
