<% standard_html_email_wrapper do %>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: <%= Settings::Email.ui_off_white %>;height: 100%;width: 100%;font-family: <%= Settings::Email.font_family %>; color: <%= Settings::Email.ui_soft_black %>">
    <tbody>
      <tr height="0" valign="top">
        <td>
          <center>
            <!-- main -->
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <%= render :partial => "/objects/summary_text", :locals => { :text => message_text(@new_dbe, @friend_users) } %>

                <%= render :partial => "/objects/header" %>

                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" height="300" width="100%">
                      <tr>
                        <td>&nbsp;</td>
                        <td style="width: <%= Settings::Email.main_column %>; background-color: <%= Settings::Email.ui_white %>; border: 1px solid <%= Settings::Email.ui_inset %>; font-weight: <%= Settings::Email.font_weight %>; line-height: <%= Settings::Email.line_height %>;">
                          <center>
                            <table border="0" cellspacing="0" cellpadding="40">
                              <tr>
                                <td style="width: 400px;">
                                    <!-- BODY -->

                                    <h1 style="color: <%= Settings::Email.ui_green %>; font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size_large %>; margin-top:0; ">
                                      Recommended for you:
                                    </h1>

                                    <% if @new_dbe.action == DashboardEntry::ENTRY_TYPE[:entertainment_graph_recommendation] %>
                                      <p>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width: 50px">
                                              <img src="<%= avatar_url_for_user(@friend_users.first) %>" width="40" height="40" alt="<%= @highlighted_username %>" title="<%= @highlighted_username %>" />
                                            </td>
                                            <td>
                                    <% end %>

                                              <p style="color: <%= Settings::Email.ui_soft_black %>;line-height: <%= Settings::Email.line_height %>;">
                                                <%= highlight(message_text(@new_dbe, @friend_users), @highlighted_username, :highlighter => "<b>\\1</b>") %>
                                              </p>

                                    <% if @new_dbe.action == DashboardEntry::ENTRY_TYPE[:entertainment_graph_recommendation] %>
                                            </td>
                                          </tr>
                                        </table>
                                      </p>
                                    <% end %>

                                    <h2 style="font-size: <%= Settings::Email.font_size %>; margin: 0 0 5px;">
                                      <a href="<%= "#{Settings::Email.web_url_base}/stream?entry=#{@new_dbe.id.to_s}" %>" style="color: <%= Settings::Email.ui_black %>;text-decoration: none;">
                                        <%= @new_frame.video.title %>
                                      </a>
                                    </h2>

                                    <a href="<%= "#{Settings::Email.web_url_base}/stream?entry=#{@new_dbe.id.to_s}" %>">
                                      <% video_description = truncate(@new_frame.video.description || @new_frame.video.title, length: 100, separator: ' ') %>
                                      <img src="<%= @new_frame.video.thumbnail_url %>" style="width: 100%;height: auto; border:2px solid <%= Settings::Email.ui_green %>;min-height:50px;" alt="<%= video_description %>" title="<%= video_description %>"/>
                                    </a>

                                    <% if @new_dbe.action == DashboardEntry::ENTRY_TYPE[:entertainment_graph_recommendation] && @friend_users.count > 1%>
                                      <p>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <% @friend_users[1..10].each do |u| %>
                                              <td style="width: 38px">
                                                <img src="<%= avatar_url_for_user(u) %>" width="28" height="28" alt="<%= u.nickname %>" title="<%= u.nickname %>" />
                                              </td>
                                            <% end %>
                                          </tr>
                                        </table>
                                      </p>
                                    <% end %>

                                    <p style="color: <%= Settings::Email.ui_soft_black %>;line-height: <%= Settings::Email.line_height %>;">
                                      If you haven't seen it, <a href="<%= "#{Settings::Email.web_url_base}/stream?entry=#{@new_dbe.id.to_s}" %>" style="color: <%= Settings::Email.ui_soft_black %>">watch it now</a>!
                                    </p>

                                    <!-- END BODY -->
                                </td>
                              </tr>
                            </table>
                          </center>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <%= render :partial => "/objects/footer" %>
              </tbody>
            </table>
            <!-- eo main -->
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <img src="http://trk.kissmetrics.com/e?_k=<%= Settings::KissMetrics.api_key %>&_n=<%= Settings::KissMetrics.metric['open_email']['weekly_rec_email'] %>&_p=<%= @user_to.nickname %>" />
<% end %>
