<% standard_html_email_wrapper do %>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin: 0;padding: 0;background-color: <%= Settings::Email.ui_off_white %>;height: 100%;width: 100%;font-family: <%= Settings::Email.font_family %>; color: <%= Settings::Email.ui_soft_black %>">
    <tbody>
      <tr height="0" valign="top">
        <td>
          <center>
            <!-- main -->
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <%= render :partial => "/objects/summary_text", :locals => { :text => "This is your weekly collection of video based on what you've watched, liked and shared and the best of the Shelby community on Shelby.tv." } %>

                <%= render :partial => "/objects/header" %>

                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" height="300" width="100%">
                      <tr>
                        <td>&nbsp;</td>
                        <td style="width: <%= Settings::Email.main_column %>; background-color: <%= Settings::Email.ui_white %>; border: 1px solid <%= Settings::Email.ui_inset %>; font-weight: <%= Settings::Email.font_weight %>; line-height: <%= Settings::Email.line_height %>;">
                          <center>
                            <table border="0" cellspacing="0" cellpadding="2" style="width: 400px;">
                            <!-- BODY -->
                                <tr>
                                  <td>
                                    <h1 style="color: <%= Settings::Email.ui_green %>; font-family: <%= Settings::Email.font_family %>; font-size: <%= Settings::Email.font_size_large %>; margin:30px 0 20px;">
                                      <%= message_text(@dbes) %>
                                    </h1>
                                  </td>
                                </tr>
                              <% @dbes.each do |dbe| %>
                                <tr>
                                  <td>
                                    <center>
                                      <%= render :partial => '/notification_mailer/partials/frame',
                                          :locals => {
                                            :dbe            => dbe,
                                            :ga_category    => "Email",
                                            :signed_in_user => {},
                                            :video          => dbe.frame.video,
                                            :user_to => @user_to
                                          }
                                      %>
                                    </center>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    &nbsp;
                                  </td>
                                </tr>
                              <% end %>
                            <!-- END BODY -->
                            </table>
                          </center>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>

                <%= render :partial => "/objects/footer" %>
              </tbody>
            </table>
            <!-- eo main -->
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  <img src="http://trk.kissmetrics.com/e?_k=<%= Settings::KissMetrics.api_key %>&_n=<%= Settings::KissMetrics.metric['open_email']['weekly_rec_email'] %>&_p=<%= @user_to.nickname %><%= "&bucket="+@ab_bucket if @ab_bucket %>" />
<% end %>
