<% if @authorized %>
	<% unless @entries.empty? %>
		<% @entries.each do |e| %>
			<div id="d-<%= e.id %>" class="frame">
				<div class="video-info">
					<div class="video-title">
						<%= e.frame.video.title %>
					</div>
					<div class="video-thumbnail">
						<%= image_tag("#{e.frame.video.thumbnail_url}", :size=>"150x75", :alt=>"#{e.frame.video.description}") %>
					</div>
				</div>
				<div class="conversation-wrapper">
					<ul id="<%= e.frame.conversation.id %>" class="conversation">
						<% e.frame.conversation.messages.each do |m| %>
							<% user = m.user %>
							<li id="<%= m.id %>" class="message">
								<div class="user-info">
									<span class="user-thumb">
										<%= image_tag("#{user.user_image}") %>
									</span>
									<span class="user-name">
										<%= user.name %>
									</span>
									<span class="user-nickname">
										<%= user.nickname %>
									</span>
								</div>
								<div class="text">
									<%= m.text %>
								</div>
							</li>
						<% end %>
					</ul>
					<div class="new-comment">
						<%= text_field_tag 'text', nil, :class=>"#{e.frame.conversation.id}", :placeholder => 'leave a comment', :size => '75' %>
						<%= javascript_tag do %>
							$(".<%= e.frame.conversation.id %>").on('keypress', function(e){
								if (e.charCode == 13){
									var msg = $('input.<%= e.frame.conversation.id %>').val();
									$.ajax({url:'/v1/conversation/<%= e.frame.conversation.id %>/messages',
													type: 'POST',
									 				data: {text: msg},
													success: function(r){
														if (r.status == 200){
															// add message to conversation list
															var convId = '<%= e.frame.conversation.id %>';
															var newMessage = r.result.messages.pop();
															var newLastMessage = $('ul#<%= e.frame.conversation.id %>.conversation').children().last().clone().appendTo('ul#'+convId);
															newLastMessage.find('.text').text(newMessage.text);
															newLastMessage.find('.user-nickname').text(newMessage.nickname);
															newLastMessage.find('.user-name').text(newMessage.name);
															newLastMessage.find('.user-thumb img').attr('src', newMessage.user_image_url);
															$('input.'+convId).val("").blur();
														}
														else {
															var convId = '<%= e.frame.conversation.id %>';
															('input.'+convId).css("background-color", "red").val("").attr("placeholder", "something went wrong, sorry");
														}
													}
												});
								}
							});
						<% end %>
						
					</div>
				</div>
				
			</div>
		<% end %>
	<% end %>
<% else %>
  sign in with:
	<%= link_to 'twitter', '/auth/twitter' %> or <%= link_to 'facebook', '/auth/facebook' %>
<% end %>