<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<% # if we got any meta tag info from request display it, otherwise just render head normally %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shelbytv: http://ogp.me/ns/fb/shelbytv#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> Login Page </title>
  
  <meta name="viewport" content="width=device-width">
  <head profile="http://www.w3.org/2005/10/profile">
  <%= stylesheet_link_tag "app.html" %>  
  <%= stylesheet_link_tag "login" %>
  <%= stylesheet_link_tag "fonts/stylesheet" %>
  <!--[if lt IE 9]><link href="/stylesheets/png.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->  
</head>


<body>
  <div class="login-wrapper">
    <h1 class="login-logo ir">
    </h1>
    <p class = "login-slogan">
      An amazing way to <br> discover and enjoy video.
      </p>
      <br>
    <div class="login-links">
      <%= link_to "Log In with Twitter", '/auth/twitter' %> <br>
      <%= link_to "Log In with Facebook", '/auth/facebook' %>
    </div>
  </div>
  
  
  </body>
</html>
