<h1>Client Registration</h1>
<%= form_for :post, :url => {:action=>:create} do |f| %>
  <p>
    <%= f.label :website_link, "Website Link"%>
    <%= f.text_field :website_link %>
  </p>

  <p>
    <%= f.label :redirect_url, "Redirect Url" %>
    <%= f.text_field :redirect_url %>
  </p>

  <p>
    <%= f.label :display_name, "Display Name" %>
    <%= f.text_field :display_name %>
  </p>

  <p>
    <%= f.label :image_url, "Image Url" %>
    <%= f.text_field :image_url %>
  </p>

  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
