<div class="cohort-entrance-wrapper">
	<% if @cohort_entrance %>
		<h1>Meet Shelby, a simple new way to enjoy video.</h1>

		<h2>
			We know... this landing page still needs a little love, but we promise that Shelby itself is much prettier.
		</h2>
		<h2>
			You’ll see for yourself in a second.  Just sign in below.
		</h2>
		<h2>
			(If you already had a Shelby account from our first product, please sign in the same way you did before. ie. Sign in with Twitter again, if you used Twitter the first time. If you can’t remember which one you used, just take a guess.)
		</h2>

		<hr/>

		<div class="social-signup-wrapper">
		  <% if params[:nickname] %>
			  <h2 style="color:red;">That username has already been taken.</h2>
			<% elsif params[:primary_email] %>
			  <h2 style="color:red;">That email address is already in use.</h2>
			<% elsif params[:duplicate_key] %>
			  <h2 style="color:red;">That username and password has already been taken.</h2>
			<% end %>
			
			<h2>Sign up with...</h2>			
			<%= link_to "email and password", "#", :onclick => "$(this).hide();$('.email-signup-wrapper').show();$('#user_name').focus();return false;" %>
			<%= link_to "twitter", "/auth/twitter", :class => "social-signup twitter js-authorize", :target => "signup_twt", "data-popup_width" => "600", "data-popup_height" => "700" %>
			<%= link_to "facebook", "/auth/facebook", :class => "social-signup facebook js-authorize", :target => "signup_fb", "data-popup_width" => "1000", "data-popup_height" => "650" %>
		</div>

		<div class="email-signup-wrapper">
		  <% proto = Rails.env == "production" ? "https" : "http" %>
			<%= form_for(:user, :url => session_url(:user, :protocol => proto), :class=>"email-signup-form") do |f| %>
			  <div><%= f.label :name %><br />
			  <%= f.text_field :name %></div>

				<div><%= f.label :nickname, "Username" %><br />
			  <%= f.text_field :nickname %></div>

				<div><%= f.label :primary_email, "Email" %><br />
			  <%= f.email_field :primary_email %></div>

			  <div><%= f.label :password %><br />
			  <%= f.password_field :password %></div>

			  <div><%= f.submit "Create Account" %></div>
			<% end %>
		</div>

		<hr />

		<h2>
			Need help?<br />
			tweet <%= link_to "@shelby", "http://twitter.com/shelby", :target => "_twt" %><br />
			or email <%= mail_to "support@shelby.tv" %>
		</h2>

	<% else %>
		<h1>Make sure you typed that URL correctly</h1>
		or <%= link_to "request an early invite to Shelby", Settings::ShelbyAPI.web_root %>
	<% end %>
</div>

<script>
/**
  oAuth via popup window
**/
$(function(){
  $('body').on('click','.js-authorize',function(e){

    var width = $(this).data('popup_width'),
        height = $(this).data('popup_height'),
        left = (screen.width/2)-(width/2),
        top = (screen.height/2)-(height/2);

    window.open($(this).attr("href"), "authPopup", "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);

    return false;
  });
});
</script>

<script>
  var _kmq = _kmq || [];
  var _kmk = _kmk || '9b8c2d291a85a66412fc8c0085125194646fd7a6';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
</script>