<!-- button -->
<table cellpadding="10" cellspacing="0" style="border-radius: 5px;border-color: <%= Settings::Email.ui_green %>;border-width: 1px;border-style: solid;background-color: <%= Settings::Email.ui_green %>;width: 75%;margin: 0 auto;">
  <tr>
    <td align="center" valign="center" style="border-radius: 5px;border-width: 1px; border-style: solid; border-color: #C9F1B4 <%= Settings::Email.ui_green%> <%= Settings::Email.ui_green%> <%= Settings::Email.ui_green%>; height: 38px;">
      <a href="<%= url %>" style="display: block;font-size: 16px;font-weight: bold;font-family: sans-serif;text-decoration: none;">
        <font color="#fff">
          <%= text %>
        </font>
      </a>
    </td>
  </tr>
</table>
<!-- /button -->
